<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="formRegister" (ngSubmit)="onSubmit()" >

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                    formControlName="name"
                           class="form-control"
                           placeholder="Nombre del usuario">

                    <span *ngIf="isValidField('name')" class="form-text text-danger">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                    formControlName="email"
                           class="form-control"
                           placeholder="Email del usuario">
                    <span *ngIf="isValidField('email')" class="form-text text-danger">
                        mensaje de error del email
                    </span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                    formControlName="username"
                           class="form-control"
                           placeholder="Nombre código del usuario">
                    <span *ngIf="isValidField('username')" class="form-text text-danger">
                         El username no puede ser Strider
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                    formControlName="password"
                           class="form-control"
                           placeholder="Password de su cuenta">

                    <span *ngIf="isValidField('password')" class="form-text text-danger">
                         La contraseña debe de ser mayor de 6 caracteres.
                    </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                    formControlName="password2"
                           class="form-control"
                           placeholder="Confirmar la contraseña">

                    <span *ngIf="isValidField('password2')" class="form-text text-danger">
                         Las contraseñas deben de ser iguales
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


<h5>Form Valid: {{formRegister.valid}} </h5>
<h5>Form Status: {{formRegister.status}} </h5>
<h5>Form Pending: {{formRegister.pending}} </h5>
<h5>Form errors: {{formRegister.errors}} </h5>

<pre> Nombre: {{ formRegister.controls['name'].errors | json }}</pre>

<pre>Email errors: {{ formRegister.controls['email'].errors | json }}</pre>

<pre>Username errors:{{ formRegister.controls['username'].errors | json }}</pre>

<pre>Pass: {{ formRegister.value.password | json }}</pre>

<pre>Pass2: {{ formRegister.controls['password2'].errors |json }}</pre>
<pre>Pass1: {{ formRegister.controls['password'].errors |json }}</pre>

